p,a,div{
  background-image:url(/img/trans.png);
}
html,body {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;}
body {
  font-size: medium;
}
.icon {
  position: absolute;
  display: inline;
}
.folderName {
  color: #000;
  margin-left: 25px;
  display: inline;
  text-decoration: none;
}
.folderName:hover {
  color: #000;
}
#player {
  text-align: center;
  position: absolute;
  background-color: #e6e3e0;
  width: 100%;
  margin: 0px;
  padding: 10px;
  bottom: 0px;}
#playerInfo p{
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding 2px;
}
#fileList {
  margin: 0px;
  position: absolute;
  width: 100%;
  overflow: auto;}
#container {
  margin: 0px;
  padding: 0px;
  position: absolute;
  min-height: 100%;
  height: auto !important;
  width: 100%;
  overflow: hidden;}
#controls {
  line-height: 200%;}
#controls div {
  margin-top: 5px;}
.control_button{
  margin-left: 10px;
  margin-right: 10px;}
div .progress{
  margin-bottom: 10px;}
a.list-group-item{
  word-wrap: break-word;
}
