p,a,div{
  background-image:url(/img/trans.png);
}
html,body {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;}
body {
  font-size: medium;
}
.icon {
  position: absolute;
  display: inline;
}
.folderName {
  margin-left: 25px;
  display: inline;
}
.folder {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ddf0dd;
  border-radius: 6px;
  cursor: pointer;}
.folder:hover {
  background-color: #ddffdd;}
.file {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffdddd;
  border-radius: 6px;
  cursor: pointer;}
.file:hover {
  background-color: #f0dddd;
  text-decoration: underline;}
#player {
  text-align: center;
  position: absolute;
  background-color: #ddddff;
  width: 100%;
  margin: 0px;
  padding: 10px;
  bottom: 0px;}
#playerInfo p{
  margin: 2px;
  padding 2px;
}
#fileList {
  margin: 0px;
  position: absolute;
  width: 100%;
  overflow: auto;}
#container {
  margin: 0px;
  padding: 0px;
  position: absolute;
  min-height: 100%;
  height: auto !important;
  width: 100%;
  overflow: hidden;}
#controls {
  line-height: 200%;}
#controls div {
  margin-top: 5px;}
.control_button{
  margin-left: 10px;
  margin-right: 10px;}
